body {
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

.container{
  max-width: 400px;
}

.icon {
  display: grid;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 0;
}

 .icon img {
  place-self: center;
  max-width: 50px;
} 